/* Universals (?) */


h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: normal;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: normal;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  display: inline;
}


.white {
  background-color: white;
}

.whitesmoke {
  background-color: whitesmoke;
}



/* Main container - start of contents*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.center {
  align-items: center;
  justify-content: center;
}


/* Top menu "header"*/

header {
  background-color: #0A3C6D;
/*  transition: background-color 200ms linear; */
  transition: all 200ms linear;
  height: 4rem;

  position: fixed; /* Set the navbar to fixed position */

  width: 100%;
}

header img {
  height: 2.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#main-menu{
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#main-menu li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


/* Hero banner */

.banner {
  background-color: #0A3C6D;
  height: 30rem;
  width: 100%;

  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.welcome {
  /*
  background: url("./img/map-contact.png") no-repeat;
  background-size: contain;
  background-position: center;
  */

  color: whitesmoke;
  text-align: center;

  margin: auto;

}

.welcome h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.welcome h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.button a {
/*  border: 1px solid white;  */
  background-color: white;
  color: #0A3C6D;

  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0.5rem;
}

.button span {
  padding-left: 1rem;
  padding-right: 1rem;
}


/* Media mentions  */


.media-mentions {
  background-color: white;
  box-shadow: 0px 2px 5px #ddd;
  width: 100%;

  padding-top: 1rem;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.media-mentions h5 {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.logo-box {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nytimes {
  width: 24%;
}


.logo-box img {
  width: 12%;
}

#nytimes {
  width: 24%;
}

#cbs {
  width: 18%;
}



/* Mid stuff  */


.box {
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid lightgrey;
}

.box-text {
  color: dimgrey;
  width: 40rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.box-text h3 {
  color: #0A3C6D;
  font-weight: 600;
}

.box-text a {
  color: rgb(235, 90, 10);
}

.box img {
  margin-left: 2rem;
  margin-right: 2rem;
  max-height: 15.25rem;
}

.customized-solutions {
  background: url("./img/customized solutions.jpg") no-repeat;
}

.image-container {
  background-size: contain;
  height: 16rem;
  width: 20rem;
}


/* Footer  */

footer {
  background-color: #0A3C6D;
  color: white;
  width: 100%;
}

.contact-info {
  padding-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;

  float: left;
}

footer img {
  padding-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;

  float: right;
}
